






nav a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
}
.main-button {
  background-color: #DE2E54;
  width: 190px;
  height: 50px;
}

.main-button-link {
  color: white;
  text-decoration: none;
}

.main-hover {
  background-color: #0EB4C1;
  display: flexbox;
}

.main-heading {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-passage {
  color: white;
  font-family:sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.services {

}

.services-heading {
  text-align: center;
}


/* SITE-FOOTER */
.site-footer {
  background-color: black;
  color: fff;
}
.footer-container {
  color: white;
}
.footer-list-link {
  color: white;
}